body{
    background-image: url(../images/리스트페이지.jpg);
    background-repeat: no-repeat;
    background-size: 380px;
    font-family: 'NanumBarunGothicYetHangul';
}
div{
    position: relative;
    top: 170px;
    left: 40px;
    margin: 10px;
    border-bottom: 1px solid rgb(239, 239,241);
    width: 270px;
}
#add{
    background-image: url(..//images/추가버튼.jpg);
    background-repeat: no-repeat;
    background-size: 40px;
    padding: 18px;
    border: none;
    position: relative;
    top: 90px;
    left: 280px;
}