body{
    background-image: url(../images/리스트페이지.jpg);
    background-repeat: no-repeat;
    background-size: 380px;
    font-family: 'NanumBarunGothicYetHangul';
}
div{
    position: relative;
    top: 170px;
    left: 40px;
    margin: 10px;
    border-bottom: 1px solid rgb(239, 239,241);
    width: 270px;
    cursor: pointer;
}
span{
    padding-right: 5px;
}
#add{
    background-image: url(..//images/추가버튼.jpg);
    background-repeat: no-repeat;
    background-size: 40px;
    padding: 18px;
    border: none;
    position: relative;
    top: 90px;
    left: 280px;
    cursor: pointer;
}
#deleteButton{
    background-image: url(../images/리스트\ 삭제버튼.png);
    padding: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 40px;
    height: 30px;
    cursor: pointer;
}
#editButton{
    background-image: url(../images/리스트\ 수정버튼.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
    cursor: pointer;
}