<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/contact-list.css">
    <script src="../assets/js/contact-list.js" defer ></script>
<body>
    <button id="addButton" ></button>
    <form action=""> 
        <div>
            <span>박유진</span>
            <span>010-9392-7723</span>
            <button class="deleteButtons"></button>
            <button class="editButtons" ></button>
        </div>
        <div>
            <span>박수현</span>
            <span>010-9392-7723</span>
            <button class="deleteButtons"></button>
            <button class="editButtons" ></button>
        </div>
        <div>
            <span>박정숙</span>
            <span>010-9392-7723</span>
            <button class="deleteButtons"></button>
            <button class="editButtons" ></button>
        </div>
    </form>
</body>
</html>