<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/contact-list.css">
    <style>
       
    </style>
</head>
<body>
    <button id="add" ></button>
    <div>
        <span>박유진</span>
        <span>010-9392-7723</span>
        <button id="deleteButton"></button>
        <button id="editButton" ></button>
    </div>
    <div>
        <span>박수현</span>
        <span>010-9392-7723</span>
        <button id="deleteButton"></button>
        <button id="editButton" ></button>
    </div>
    <div>
        <span>박정숙</span>
        <span>010-9392-7723</span>
        <button id="deleteButton"></button>
        <button id="editButton" ></button>
    </div>
</body>
</html>