<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/add-contact.css">
</head>
<body>
    <button id="cancleButton" ></button>
    <button id="doneButton" ></button>
    <form action="">
        <div><input id="name" type="text" placeholder="이름"></div>
        <div><input id="number"  type="number" placeholder="전화" ></div>
    </form>
</body>
</html>