<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/add-contact.css">
    <script src="../assets/js/edit-contact.js" defer></script>
</head>
<body>
    <form >
        <a href="http://localhost:8080/list"><button id="cancleButton" type="button" ></button></a>
        <button id="doneButton" type="submit" ></button>
        <div><input id="name" name="name" type="text" placeholder="이름" required ></div>
        <div><input id="number" name="number" type="number"  placeholder="전화" required ></div>
    </form>
</body>
</html>